@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

body{
    font-family: "Raleway"
}

// $primary: #FE8C12;
// $secondary: #0D90A4;
$primary: #ED5200;
$secondary: #EDB403;
$chocolate:  #824b36;
$grey: #9EA0A0;
$dark: #1E1E1E;